
::-webkit-scrollbar {
  width:16px;
}

::-webkit-scrollbar-thumb{
  background-color: #61dafb;
  height: 10%;
  cursor:pointer;
}

::-webkit-scrollbar-thumb:hover{
  box-shadow: inset 0 0 12px white;
}

u{
  text-decoration: underline #61dafb;
  font-weight: bold;
}


