.new-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   margin-bottom: 20px;
}
.new-course h1{
    color: #353535;
    font-size: 40px;
    font-weight: 600;
}
.new-course hr {
    width: 400px;
    height: 6px;
    border-radius: 10px;
    background: #00b3ff;
  }
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}
