.new-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 80px;
}

.new-course h1{
    color: #353535;
    font-size: 6vh;
    font-weight: 600;
}
.new-course hr {
    /* width: 400px;
    height: 6px;
    border-radius: 10px;
    background: #00b3ff; */
    width: 30vw;
    height: 5px;
    border-radius: 5px;
    background: #00b3ff;
  }
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1px;
    gap: 10px;
}


