.popularCourse{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 70px;
}

.popularCourse-item{
    margin-top: 5vh;
    display: flex;
    gap: 5vh;
}

.popularCourse h1{
    color: #353535;
    font-size: 6vh;
    font-weight: 600;
}
.popularCourse hr {
    /* width: 400px;
    height: 6px;
    border-radius: 10px;
    background: #00b3ff; */
    width: 30vw;
    height: 5px;
    border-radius: 5px;
    background: #00b3ff;
  }
