.popularCourse{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50vh;
}
.popularCourse h1{
    color: #353535;
    font-size: 30px;
    font-weight: 600;
}
.popularCourse hr{
    width: 400px;
    height: 8px;
    border-radius: 10px;
    background: #00b3ff;
}
.popularCourse-item{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}